.ant-timeline-item-tail {
  opacity: 0.1;
}

.icon-link {
  svg {
    color: var(--primary-color);
    font-size: 22px;
    opacity: 0.5;
    position: relative;
    top: 4px;
    left: 6px;
  }
}

.list-item {
  svg {
    font-size: 18px;
    opacity: 0.2;
    position: relative;
    top: 2px;
  }
}
