.certificates-link {
  display: inline-flex;
  margin-left: 6px;

  .icon {
    fill: var(--primary-color);
    font-size: 22px;
    opacity: 0.5;
  }
}

.certificates-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.certificates-item {
  display: flex;
  align-items: flex-start;
  gap: 8px;

  .icon {
    fill: var(--primary-color);
    font-size: 18px;
    opacity: 0.2;
    position: relative;
    top: 2px;
  }
}
