@use "styles/mixins" as *;

.project-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.project-image {
  position: relative;
  display: block;
  overflow: hidden;
  border: 1px solid var(--secondary-color);
  border-radius: 26px;
  @include theme-transition(border-color);

  img {
    @include fill-image;
    transition: filter 0.5s var(--bezier-animation);
  }

  .project-image-mask {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--overlay-text-color);
    background: rgb(0 0 0 / 50%);
    opacity: 0;
    transition: opacity 0.5s var(--bezier-animation);
  }

  .project-image-label {
    font-weight: 500;
    letter-spacing: 0.01rem;
  }

  .project-image-icon {
    margin-top: 2px;
    font-size: 18px;
  }

  &:hover img,
  &:focus-visible img {
    filter: grayscale(1);
  }

  &:hover .project-image-mask,
  &:focus-visible .project-image-mask {
    opacity: 1;
  }

  &:focus-visible {
    outline: 2px solid var(--primary-color);
    outline-offset: 4px;
  }
}

.project-card-description {
  display: flex;
  flex-direction: column;
}

.project-card-title {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  @include theme-transition(color);
}

.project-card-text {
  line-height: 22px;
  opacity: var(--light-opacity);
}
