@use "sass:map";

$breakpoints: (
  xs: 400px,
  sm: 600px,
  md: 768px,
  lg: 1024px,
  xl: 1440px,
);

@mixin breakpoint($name) {
  @media (min-width: map.get($breakpoints, $name)) {
    @content;
  }
}

@mixin subtle-divider {
  margin: 0;
  opacity: 0.2;
  border: 0;
  border-block-start: 1px solid var(--primary-color);
}

@mixin fill-image {
  display: block;
  width: 100%;
  height: auto;
}
