@use "sass:list";
@use "sass:map";

$breakpoints: (
  xs: 400px,
  sm: 600px,
  md: 768px,
  lg: 1024px,
  xl: 1440px,
);

@mixin breakpoint($name) {
  @media (min-width: map.get($breakpoints, $name)) {
    @content;
  }
}

@mixin theme-transition($properties...) {
  $transitions: ();

  @each $property in $properties {
    $transitions: list.append(
      $transitions,
      #{$property} 0.4s var(--bezier-animation),
      comma
    );
  }

  transition: $transitions;
}

@mixin subtle-divider {
  margin: 0;
  opacity: 0.2;
  border: 0;
  border-block-start: 1px solid var(--primary-color);
  @include theme-transition(border-block-start-color);
}

@mixin fill-image {
  display: block;
  width: 100%;
  height: auto;
}
