@use "styles/mixins" as *;

.footer.ant-layout-footer {
  padding: 0;

  .footer-content {
    padding: 48px 0 24px;
  }

  .contacts {
    h2 {
      font-weight: 650;
      font-size: 52px;
    }

    .contact-link.ant-btn {
      padding: 24px;
      border-radius: 48px;
      background-color: var(--primary-color);
      letter-spacing: 0.02rem;
      font-size: 0.85rem;
      color: var(--bg-color);
      @include theme-transition(background-color, color);

      &:hover {
        background-color: var(--primary-color);
        color: var(--bg-color);
      }

      svg {
        font-size: 20px;
        fill: var(--bg-color);
        position: relative;
        @include theme-transition(fill);
      }

      &.telegram-link svg {
        top: 1px;
        right: 1px;
      }

      &.mail-link {
        padding: 24px 30px;

        svg {
          font-size: 16px;
        }
      }
    }
  }

  .copyright {
    width: 100%;
    letter-spacing: 0.01rem;
    opacity: var(--light-opacity);

    span {
      font-size: 12px;
    }
  }
}
