@use "styles/mixins" as *;

.experience-timeline {
  margin: 9px 0 8px;
  padding: 0;
  list-style: none;

  svg {
    fill: var(--primary-color);
  }

  &-item {
    position: relative;
    display: flex;
    gap: 14px;
    padding-bottom: 36px;

    &::before {
      content: "";
      position: absolute;
      top: 14px;
      bottom: 0;
      left: 5px;
      border-inline-start: 2px solid var(--primary-color);
      opacity: 0.1;
      @include theme-transition(border-inline-start-color);
    }
  }

  &-item:last-child {
    padding-bottom: 0;

    &::before {
      display: none;
    }
  }

  &-dot {
    position: relative;
    z-index: 1;
    width: 12px;
    height: 20px;
    display: flex;
    flex: 0 0 12px;
    align-items: center;
    justify-content: center;
    background: var(--bg-color);
    @include theme-transition(background-color);
  }
}

.experience-dot {
  font-size: 13px;
  opacity: 0.2;
}

.experience-current-dot {
  font-size: 12px;
  opacity: 0.3;
  animation: experience-current-dot-spin 1s linear infinite;
  transform-box: fill-box;
  transform-origin: center;
}

@keyframes experience-current-dot-spin {
  to {
    transform: rotate(360deg);
  }
}
