.ant-timeline-item-tail {
  opacity: 0.1;
}

.ant-collapse-content-box {
  li:last-child {
    padding-bottom: 0px;
  }
}

.popover-icon {
  &:hover {
    cursor: pointer;
  }
}

.ant-popover-inner {
  padding-left: 16px !important;
}

.popover-container {
  max-width: 275px;
}

@media (min-width: 600px) {
  .popover-container {
    max-width: 325px;
  }
}

@media (min-width: 768px) {
  .popover-container {
    max-width: 350px;
  }
}

@media (min-width: 1024px) {
  .popover-container {
    max-width: 375px;
  }
}

@media (min-width: 1440px) {
  .popover-container {
    max-width: 400px;
  }
}
