@use "styles/mixins" as *;

.projects-archive {
  position: relative;
  margin-top: 32px;
  overflow: clip;
  border: 1px solid var(--light-grey);
  border-radius: 8px;
  background-color: var(--pop-color);
  @include theme-transition(background-color, border-color);

  &.ant-collapse,
  .ant-collapse-content,
  .ant-collapse-content.ant-collapse-content-active,
  .ant-collapse-content.ant-collapse-content-inactive,
  .ant-collapse-content > .ant-collapse-content-box {
    border-color: var(--light-grey);
    background-color: var(--pop-color);
    @include theme-transition(background-color, border-color);
  }

  &.ant-collapse > .ant-collapse-item {
    border-bottom: 0;
    background-color: var(--pop-color);
    @include theme-transition(background-color);
  }

  &.collapse-panel.ant-collapse > .ant-collapse-item > .ant-collapse-header {
    min-height: 0;
    margin-bottom: 0;
    padding: 0;
    background-color: var(--pop-color);
    @include theme-transition(background-color);
  }

  &.collapse-panel.ant-collapse
    > .ant-collapse-item
    > .ant-collapse-header
    .ant-collapse-expand-icon {
    height: 100%;
    align-items: center;
    margin-right: 12px;
  }
}

.projects-archive .projects-archive-title.ant-typography {
  display: inline-flex;
  align-items: center;
  width: fit-content;
  margin: 0;
  padding: 8px 16px;
  color: var(--primary-color);
  font-size: 15px;
  line-height: 20px;
  opacity: 0.7;
  @include theme-transition(color);
}

.projects-archive .projects-archive-icon.icon {
  margin-right: 8px;
}

.projects-archive-grid {
  padding: 20px 28px 24px;
  background-color: var(--pop-color);
  @include theme-transition(background-color);
}
