.title-container {
  flex-direction: column;
  align-items: flex-end;
  gap: 24px;

  h1 {
    font-family: "Defectica";
    line-height: 90%;
    margin-bottom: 0;
    white-space: nowrap;
    font-size: 72px;
    font-weight: 400;
    width: 100%;

    &:hover {
      text-transform: lowercase;
    }

    span {
      display: inline-flex;

      &:nth-child(odd) {
        width: 16px;
      }

      &:nth-child(even) {
        width: 53px;
      }
    }
  }

  button {
    border: 0.1rem solid var(--secondary-color) !important;
    height: 48px;
    padding: 16px 20px !important;

    span {
      font-weight: 500;

      svg {
        font-size: 1rem;
      }
    }
  }
}

.description {
  flex-direction: column;
  gap: 24px;

  h5 {
    margin: 0;
  }

  a {
    letter-spacing: 0.02rem;
    color: var(--primary-color) !important;
    opacity: var(--light-opacity);
  }

  * {
    transition: color 0.2s var(--bezier-animation);
  }
}

@media (min-width: 400px) {
  .title-container h1 {
    font-size: 82px;

    span {
      &:nth-child(odd) {
        width: 20px;
      }

      &:nth-child(even) {
        width: 60px;
      }
    }
  }
}

@media (min-width: 600px) {
  .title-container {
    flex-direction: row;

    h1 {
      font-size: 100px;
      width: unset;

      span {
        &:nth-child(odd) {
          width: 20px;
        }

        &:nth-child(even) {
          width: 73px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .title-container h1 {
    font-size: 120px;
    width: unset;

    span {
      &:nth-child(odd) {
        width: 25px;
      }

      &:nth-child(even) {
        width: 88px;
      }
    }
  }

  .description {
    flex-direction: row;
    gap: 120px;

    .ant-typography {
      font-size: 16px;
    }

    h5.ant-typography {
      font-size: 18px;
    }
  }
}

@media (min-width: 1024px) {
  .title-container h1 {
    font-size: 150px;
    width: unset;

    span {
      &:nth-child(odd) {
        width: 34px;
      }

      &:nth-child(even) {
        width: 110px;
      }
    }
  }

  .description {
    gap: 240px;
  }
}

@media (min-width: 1440px) {
  .title-container h1 {
    font-size: 172px;

    span {
      &:nth-child(odd) {
        width: 40px;
      }

      &:nth-child(even) {
        width: 126px;
      }
    }
  }
}
