@use "styles/mixins" as *;

.title-container {
  flex-direction: column;
  align-items: flex-end;
  gap: 24px;

  h1 {
    font-family: "Defectica", system-ui, sans-serif;
    line-height: 90%;
    margin-bottom: 0;
    white-space: nowrap;
    font-size: 72px;
    font-weight: 400;
    width: 100%;

    &:hover {
      text-transform: lowercase;
    }

    span {
      display: inline-flex;

      &:nth-child(odd) {
        width: 16px;
      }

      &:nth-child(even) {
        width: 53px;
      }
    }
  }

  .scroll-button.ant-btn {
    height: 48px;
    padding: 16px 20px;
    border: 0.1rem solid var(--secondary-color);

    span {
      font-weight: 500;

      svg {
        font-size: 1rem;
      }
    }
  }
}

.scroll-button {
  text-transform: uppercase;
  transition:
    border-color 0.4s var(--bezier-animation),
    color 0.4s var(--bezier-animation),
    background-color 0.4s var(--bezier-animation);
}

.description {
  flex-direction: column;
  gap: 24px;

  .home-email.ant-typography {
    letter-spacing: 0.02rem;
    color: var(--primary-color);
    opacity: var(--light-opacity);
  }
}

.home-label.ant-typography {
  font-size: 16px;
  line-height: 1.5;
}

.home-contact {
  white-space: nowrap;
}

.home-email {
  transition: color 0.4s var(--bezier-animation);
}

.contact-badge-button.ant-btn {
  height: 25px;
  padding: 2px;
}

.contact-badge-button .contact-badge-icon.icon {
  color: var(--primary-color);
  fill: currentColor;
  font-size: 21px;
  opacity: var(--light-opacity);
  @include theme-transition(fill, color);
}

.status-column {
  width: 100%;
  max-width: 600px;
}

.status-row {
  align-items: center;
}

.availability-tag {
  padding: 0 10px;
  color: var(--status-color);
  border-color: var(--status-color);
  background: var(--status-bg);
  opacity: var(--status-opacity);
}

.image-popover {
  padding: 8px !important;

  .avatar-container {
    width: 144px;
    height: calc(144px * 1.225 + 24px);
    justify-content: flex-end;

    img {
      @include fill-image;
    }

    span,
    .ant-typography {
      font-size: 10px;
      opacity: var(--light-opacity);
      letter-spacing: 0.02rem;
      font-weight: 450;
    }

    svg,
    .icon {
      font-size: 14px;
      position: relative;
      top: 2px;
      opacity: var(--light-opacity);
    }

    .avatar-location {
      width: 100%;
      justify-content: center;
    }
  }
}

@include breakpoint(xs) {
  .title-container h1 {
    font-size: 82px;

    span {
      &:nth-child(odd) {
        width: 20px;
      }

      &:nth-child(even) {
        width: 60px;
      }
    }
  }

  .image-popover .avatar-container {
    width: 150px;
    height: calc(150px * 1.225 + 24px);
  }
}

@include breakpoint(sm) {
  .title-container {
    flex-direction: row;

    h1 {
      font-size: 100px;
      width: unset;

      span {
        &:nth-child(odd) {
          width: 20px;
        }

        &:nth-child(even) {
          width: 73px;
        }
      }
    }
  }

  .image-popover .avatar-container {
    width: 160px;
    height: calc(160px * 1.225 + 24px);
  }
}

@include breakpoint(md) {
  .title-container h1 {
    font-size: 120px;
    width: unset;

    span {
      &:nth-child(odd) {
        width: 25px;
      }

      &:nth-child(even) {
        width: 88px;
      }
    }
  }

  .description {
    flex-direction: row;
    gap: 120px;

    .ant-typography {
      font-size: 16px;
    }

    .home-label.ant-typography {
      font-size: 18px;
    }
  }

  .status-column {
    min-width: 300px;
  }

  .image-popover .avatar-container {
    width: 180px;
    height: calc(180px * 1.225 + 24px);
  }
}

@include breakpoint(lg) {
  .title-container h1 {
    font-size: 150px;
    width: unset;

    span {
      &:nth-child(odd) {
        width: 34px;
      }

      &:nth-child(even) {
        width: 110px;
      }
    }
  }

  .description {
    gap: 240px;
  }
}

@include breakpoint(xl) {
  .title-container h1 {
    font-size: 172px;

    span {
      &:nth-child(odd) {
        width: 40px;
      }

      &:nth-child(even) {
        width: 126px;
      }
    }
  }
}
