@use "styles/mixins" as *;

.home {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.title-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
  gap: 24px;

  h1 {
    font-family: "Defectica-VF", "Defectica", system-ui, sans-serif;
    line-height: 90%;
    margin-bottom: 0;
    white-space: nowrap;
    font-size: 72px;
    font-weight: 400;
    width: 100%;
    user-select: none;
    -webkit-user-select: none;
  }

  .scroll-button {
    height: 48px;
    padding: 16px 15px;
    position: relative;
    isolation: isolate;
    border: 1px solid var(--secondary-color);
    border-radius: 32px;
    background-color: var(--skill-bg);
    font-weight: 500;
    text-transform: uppercase;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
      border-radius: inherit;
      background-color: var(--skill-bg);
      opacity: 0;
      transition: opacity 0.4s var(--bezier-animation);
    }

    &:hover::after {
      opacity: 0.5;
    }

    svg {
      font-size: 1rem;
    }
  }
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 24px;
}

.home-label {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
}

.home-contact {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

.home-name {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  min-height: 29px;
}

.home-email {
  line-height: 22px;
  letter-spacing: 0.02rem;
  opacity: var(--light-opacity);
}

.contact-badge-button {
  height: 25px;
  display: inline-flex;
  align-items: center;
  padding: 2px;
  margin-bottom: 4px;
  border: 0;
  background: transparent;
  color: var(--primary-color);
  border-radius: 4px;
}

.contact-badge-button .icon {
  font-size: 21px;
  opacity: var(--light-opacity);
}

.about-column {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  max-width: 600px;
}

.about-column > span {
  line-height: 22px;
}

.image-popover {
  padding: 8px;

  .avatar-container {
    width: 144px;
    line-height: 0;

    img {
      @include fill-image;
    }
  }
}

@include breakpoint(xs) {
  .title-container h1 {
    font-size: 82px;
  }

  .image-popover .avatar-container {
    width: 150px;
  }
}

@include breakpoint(sm) {
  .title-container {
    flex-direction: row;

    h1 {
      font-size: 100px;
      width: auto;
    }
  }

  .image-popover .avatar-container {
    width: 160px;
  }
}

@include breakpoint(md) {
  .title-container h1 {
    font-size: 120px;
  }

  .description {
    flex-direction: row;
    gap: 120px;

    span,
    a {
      font-size: 16px;
      line-height: 1.5714286;
    }

    .home-label {
      font-size: 18px;
    }
  }

  .home-name {
    min-height: 30.1406px;
  }

  .about-column {
    min-width: 300px;
  }

  .image-popover .avatar-container {
    width: 180px;
  }
}

@include breakpoint(lg) {
  .title-container h1 {
    font-size: 150px;
  }

  .description {
    gap: 240px;
  }
}

@include breakpoint(xl) {
  .title-container h1 {
    font-size: 172px;
  }
}
