:root {
  --primary-color: #181614;
  --secondary-color: #e1e1e1;
  --bg-color: #f8f6f0;
  --pop-color: #f9f7f3;
  --light-opacity: 0.6;
  --icon-color: #fffcfa;
  --light-grey: #dbdbdb;
  --text-weight: 350;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #2a2a2a;
}

body {
  background: var(--bg-color);
  overflow-x: hidden;
}

::selection {
  color: var(--bg-color);
  background: var(--primary-color);
}

::-moz-selection {
  color: var(--bg-color);
  background: var(--primary-color);
}

.layout {
  padding: 0 28px;
  gap: 0;

  .chapters {
    gap: 56px;
  }
}

.running-container {
  width: 100vw;
  height: 120px;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  overflow: hidden;

  .line {
    color: var(--bg-color);
    margin: 0 !important;
    font-size: 64px;
    white-space: nowrap;
    display: inline-block;
    animation: run 36s linear infinite;
  }
}

@keyframes run {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.ant-collapse-arrow {
  font-size: 16px !important;
  margin-top: 12px;
  opacity: var(--light-opacity);
}

@media (min-width: 600px) {
  .layout {
    padding: 0 32px;
  }
}

@media (min-width: 768px) {
  .layout {
    padding: 0 50px;
    gap: 30px;

    .chapters {
      gap: 64px;
    }
  }
}

@media (min-width: 1024px) {
  .layout {
    padding: 0 80px;

    .chapters {
      gap: 72px;
    }
  }
}

@media (min-width: 1440px) {
  .layout {
    padding: 0 100px;
  }
}
