.skill-container {
  border-radius: 26px;
  background-color: rgba(0, 0, 0, 0.04);
  opacity: 0.9;
  letter-spacing: 0.02rem;
  padding: 8px 16px;
  font-size: 14px;
  border: 1.5px solid var(--secondary-color) !important;
}
