@use "styles/mixins" as *;

.expertise {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.expertise-chapter-title {
  margin: 0 0 8px;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  @include theme-transition(color);
}

.expertise-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.expertise-sections {
  display: flex;
  flex-direction: column;
  gap: 42px;
}

.expertise-divider {
  @include subtle-divider;
}

.expertise-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-top: 8px;
  padding: 0;
  list-style: none;
}

.expertise-text {
  letter-spacing: 0.02rem;
  line-height: 22px;
}

.skill-container {
  border-radius: 26px;
  background-color: var(--skill-bg);
  opacity: 0.9;
  letter-spacing: 0.02rem;
  padding: 8px 16px;
  font-size: 14px;
  border: 1px solid var(--secondary-color);
  color: var(--primary-color);
  @include theme-transition(border-color, background-color, color);
}
